// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@carpet-light-2: #fe6c6c;
@carpet-light-1: #9d6e69;
@carpet-neutral: #40221d;
@carpet-dark-1: #2f1916;
@carpet-dark-2: #1b0c0a;

@wall-light: #f4eee7;
@wall-dark: #b6b1ac;

@wood-light-2: #ffe073;
@wood-light-1: #714a39;
@wood-dark: #dbb850;

@cyan: #8bd6cc;
@blue: #a5c6e0;
@purple: #b294bb;
@green: #9be266;
@red: @carpet-light-2;
@orange: #f2ab57;
@light-orange: #f0c674;
@pink: #f195f5;
