@import "colors";

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

@literal: @orange;
@keyword: @red;
@operator: darken(@red, 15%);
@background: darken(@brown, 12%);
@comment: lighten(@background, 45%);
@guide: lighten(@background, 30%);
@highlight: lighten(@background, 20%);
@function: lighten(@gray, 50%);
@macro: @blue;

// General colors
@syntax-text-color: @white;
@syntax-cursor-color: white;
@syntax-selection-color: @highlight;
@syntax-background-color: @background;

// Guide colors
@syntax-wrap-guide-color: @guide;
@syntax-indent-guide-color: @guide;
@syntax-invisible-character-color: @guide;

// For find and replace markers
@syntax-result-marker-color: @light-gray;
@syntax-result-marker-color-selected: white;


// Gutter colors
@syntax-gutter-text-color: darken(@white, 10%);
@syntax-gutter-text-color-selected: @white;
@syntax-gutter-background-color: darken(@background, 5%);
@syntax-gutter-background-color-selected: @highlight;

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @blue;
@syntax-color-added: @green;
@syntax-color-modified: @orange;
@syntax-color-removed: @red;
